/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* pop up css start here */

._2LpwQ___Wrapper__cls1._1cMla___Wrapper__media-tablet-up {
    margin-top: 0px!important;
}
Chrome browser 

html.chrome .bx-wrapper .bx-loading{
    display: none;
}
html.chrome .fl-content-slider .bx-wrapper .fl-slide{
    visibility: visible;
}


 Firefox browser 

html.firefox .bx-wrapper .bx-loading{
    display: none;
}
html.firefox .fl-content-slider .bx-wrapper .fl-slide{
    visibility: visible;
}

@media (min-width: 1199px) {
    .uabb-modal-content .uabb-content {
        width: 1100px!important;
    }
}


/* pop up css end here */

.custom_searchHeader .fl-icon-wrap {
    cursor: pointer;
}


/* #breadcrumbs {
	position: absolute;
	top: 160px; 
    z-index: 11;
    background: transparent;
    text-shadow: 0px 0px 5px #fff;
} */

#breadcrumbs {
    position: absolute;
    /* top: 160px; */
    width: 100%;
    z-index: 11;
    background: #fff;
    text-shadow: 0px 0px 5px #fff;
}

.container>.row>.product {
    padding-top: 20px!important;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 110px;
    width: 500px!important;
}

#fl-main-content>.container>.row>.col-md-8,
#fl-main-content>.container>.row>.col-md-4 {
    margin-top: 200px!important;
}

.custom_searchModule>.fl-row-content-wrap {
    padding: 20px 20px!important;
}

header .menu li.mega-menu>.sub-menu {
    width: 100%!important;
    margin: 0 auto!important;
    text-align: left!important;
    background: none;
    padding-top: 0px;
}

header .menu .mega-menu.mega .sub-menu {
    top: 100%!important;
}

header .menu .mega-menu.mega-flooring .sub-menu {
    top: 100%!important;
}


/* .fl-theme-builder-header-shrink .menu .mega-menu.mega .sub-menu{
	top: 40%!important;
}
 header.fl-theme-builder-header-shrink .menu .mega-menu.mega-flooring .sub-menu {
 	top: 75%!important;
} */

.fl-theme-builder-header-shrink #menu-mega-flooring-menu>li>a {
    padding: 2px 10px!important;
}

header .menu,
header .menu li.mega-menu {
    position: static!important;
}

header .menu li.mega-menu>.sub-menu .menu {
    float: none!important;
}

header .menu li.mega-menu>.sub-menu .menu.fl-menu-vertical>li {
    display: block!important;
}

header .menu li.mega-menu>.sub-menu .fl-menu {
    text-align: left!important;
}

header .menu li.mega-menu>.sub-menu>li .fl-row-content-wrap {
    margin-top: 0px!important;
}

header .menu li.mega-menu>.sub-menu>li .fl-heading a {
    padding-left: 0px!important;
    padding-bottom: 0px!important;
}

header .menu li.mega-menu>.sub-menu .menu {
    text-align: left!important;
}

header .menu li.mega-menu>.sub-menu .menu>li {
    display: block!important;
}

header .menu li.mega-menu>.sub-menu .menu>li a {
    padding: 14px 0px !important;
    font-size: 13px!important;
    color: #A44526!important;
}

header .menu li.mega-menu>.sub-menu .menu>li a:hover span {
    color: #000;
}

header .menu li.mega-menu>.sub-menu .menu>li>a>span {
    color: #A44526!important;
}

header .menu .mega-menu .sub-menu .fl-row-content-wrap .fl-row-content .fl-col .fl-col-content {
    -webkit-justify-content: flex-start!important;
    justify-content: flex-start!important;
}

.gfield input[type=text] {
    width: 100%!important;
}

.gfield {
    padding-right: 15px!important;
}

.gfield input[type=checkbox] {
    margin-top: 0px!important;
    vertical-align: middle!important;
}

.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}

.storesAddress .storename .address p,
.storeAddressDetailPage .storename,
.storeAddressDetailPage .storename p,
.addressDetails .uabb-text-editor>p:nth-child(1) {
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}

.storesAddress .storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}

.storesAddress .storename .store-container .address:before {
    content: "\f041";
    font: normal normal normal 22px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}

.storesAddress .storename .store-container .address a {
    display: inline-flex;
}

.storesAddress .storename .store-container .address a p:nth-child(2),
.addressDetails .storename .address a p:nth-child(2) {
    margin-left: 4px!important;
}


/* .storeAddressDetailPage .storename .store-container .address a{
    display: inline-flex;
} */

.storeAddressDetailPage .storename .store-container .address a p {
    display: inherit;
}

.storeAddressDetailPage .storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}


/* .storeAddressDetailPage .storename{
    display: inline-flex;
} */

.storeAddressDetailPage .storename .phone a span {
    font-weight: 700;
}

.addressDetails .storename .store-opening-hrs li {
    font-weight: 700;
    position: relative;
}

.addressDetails .storename .store-opening-hrs li>span {
    font-weight: 400;
    position: absolute;
    right: 0;
}

.addressDetails .storename {
    margin-bottom: 10px!important;
}

.LocationsRow .storename {
    margin-bottom: 10px!important;
}

.LocationsRow .storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 18px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}

.LocationsRow .storename .address p {
    font-weight: 600;
}

footer .footer-bar {
    position: fixed;
    z-index: 999;
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 100%;
    display: none;
    background-color: #008c8c;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    padding: 0px 0;
}

.uabb-adv-accordion-item-active,
.uabb-adv-accordion-button,
.uabb-adv-accordion-item-active .uabb-adv-accordion-button,
.uabb-adv-accordion .uabb-adv-accordion-button-label {
    border: none!important;
    outline: none!important;
}

.button-wrapper a.button.alt:hover {
    background-color: #b94722!important;
    color: #fff!important;
}

@media(min-width: 768px) {
    .fl-slide-photo{
	margin-bottom: 100px!important;
}
}

@media (min-width: 922px) {
    #fl-main-content>.container>.row>.col-md-8,
    #fl-main-content>.container>.row>.col-md-4 {
        margin-top: 200px!important;
    }
    .storesAddress .storename .store-container .address a {
        display: inline-flex;
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .max-width-issue {
        max-width: 380px!important;
        margin: 0 auto!important;
    }
    .fl-slide .fl-slide-text .sliderRow .uabb-infobox-title-wrap>.uabb-infobox-title-prefix {
        font-size: 30px!important;
        line-height: 1em!important;
    }
    .fl-slide .fl-slide-text .sliderRow .uabb-infobox-title-wrap>.uabb-infobox-title {
        font-size: 40px!important;
        line-height: 1em!important;
    }
    .homeSlider .fl-content-slider .fl-slide-content {
        padding: 0px!important;
        margin: 0px!important;
    }
    .fl-slide .fl-slide-text .sliderRow .uabb-infobox-text {
        font-family: Montserrat, sans-serif!important;
        font-weight: 300!important;
        font-size: 18px!important;
    }
    .fl-slide .fl-slide-text .sliderRow .fl-module-content {
        margin: 20px 40px!important;
    }
    .fl-slide .fl-slide-text .sliderRow>.fl-row-content-wrap {
        min-height: 768px!important;
    }
}

@media(max-width:500px) {
    .fl-slide .fl-slide-text .sliderRow>.fl-row-content-wrap {
        min-height: 350px!important;
    }
    .footer-bar .fl-col-group .fl-col .fl-module-icon .fl-icon-wrap .fl-icon {
        display: block;
    }
    .footer-bar .fl-col-group .fl-col .fl-module-icon .fl-icon-wrap a i {
        float: none;
    }
    footer .footer-bar {
        height: 100px;
    }
}


/* ip location css */
.locationWrapFlyer .contentFlyer{
	background-color: transparent;
    padding: 0px 20px 10px !important;
	margin-right: -20px;
    margin-top: -36px;
	margin-left: 20px;

}
.locationWrapFlyer .contentFlyer {
    float:right;
    overflow: hidden!important;
}
.locationWrapFlyer .contentFlyer > div{
    width: 200px;    
	text-align: left;
}
.locationWrapFlyer .icons > i{
	background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}
.locationWrapFlyer .icons > i:hover{
	cursor: pointer;
}
.locationWrapFlyer .contentFlyer h3{
	color: #4a5259!important;
	margin-top: 4px;	
}
.locationWrapFlyer{
	padding-right: 10px!important;
}
.locationWrapFlyer .contentFlyer h3{
    margin: 0px!important;
	color: #4a5259!important;
	margin-top: 4px!important;	
}
.locationWrapFlyer .contentFlyer p{
    margin: 0px!important;
}
.locationWrapFlyer .contentFlyer h5{
    margin: 0px!important;
    margin-top: 5px!important;
}
.locationWrapFlyer .contentFlyer .headeropenFlyer{
	letter-spacing: 0.6px;
    font-size: 13px;
}
 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .header_store {
    color: black;
    position: absolute;
    top: 21%;
    left: 0px;
    z-index: 99999;
} 
nav.fl-page-nav.fl-nav.navbar.navbar-default.navbar-expand-md {
    text-align: center;
}

.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}

.content .store-cta-link:before{
	content: "\f061";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
}
#storeLocation .content a{
	color: #333!important;
    font-size: 14px!important; 
}	

#storeLocation .store-hour.phone{
	color: #333!important;
    font-size: 14px!important;

}
body div.locationWrapFlyer a#openFlyer:hover,
body #storeLocation .store_wrapper a:hover{
    color: #a44526 !important;
}
@media(max-width: 500px){
	.we-are-hireing-btn a{
		font-size: 13px !important;
	}
}
@media(max-width: 321px){
	.we-are-hireing-btn a{
		font-size: 8px !important;
	}
}
@media(min-width:767px) and (max-width:769px){
	.we-are-hireing-btn div.fl-button-wrap{
		text-align: center !important;
	}
}
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: "Josefin Sans",sans-serif;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Josefin Sans",sans-serif;
	text-transform: uppercase;
}
.header_store .title-prefix > a {
	font-weight: 600;
}
.content .store_wrapper {
padding: 40px 20px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}
.changeLocation .content {
	padding: 40px 20px;
}

.locationWrapFlyer {
    display: flex;
    justify-content: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 14px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: #000 !important;
}
.locationWrapFlyer .contentFlyer h3{
    color: #000!important;
}

#storeLocation .store-hour{
	color: #000!important;
}
#storeLocation .content {

    width: 90%;
	margin: 0 auto;
}
.contentFlyer *{
	font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;

}   
.contentFlyer p{
    letter-spacing: 1px;
	line-height: 0.9em;
	    font-size: 15px;
	color: #000 !important;
}    


#storeLocation .store-hour{
    margin-top: 5px;    
}


.locationWrapFlyer .contentFlyer{
	background-color: transparent;
    padding: 20px 20px 10px;

}
.locationWrapFlyer .contentFlyer {
    float:right;
    overflow: hidden!important;
}
.locationWrapFlyer .contentFlyer > div{
    width: 200px;    
	text-align: left;
}
.locationWrapFlyer .icons > i{
	background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}
.locationWrapFlyer .icons > i:hover{
	cursor: pointer;
}
.locationWrapFlyer .contentFlyer h3{
	color: #4a5259!important;
	margin-top: 4px;	
}
.locationWrapFlyer{
	padding-right: 10px!important;
}
.locationWrapFlyer .contentFlyer h3{
    margin: 0px!important;
	color: #4a5259!important;
	margin-top: 4px!important;	
}
.locationWrapFlyer .contentFlyer p{
    margin: 0px!important;
}
.locationWrapFlyer .contentFlyer h5{
    margin: 0px!important;
    margin-top: 5px!important;
}
.locationWrapFlyer .contentFlyer .headeropenFlyer{
	letter-spacing: 0.6px;
    font-size: 13px;
}
 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}


.content .store_wrapper{
	text-align: left!important;
}
.fl-page-bar #storeLocation *{
    color: #000!important;
}
div.locationWrapFlyer .contentFlyer h3,
div .locationWrapFlyer a#openFlyer,
div.locationWrapFlyer a#openFlyer,
div.locationWrapFlyer .contentFlyer p{
	color: #000000!important;
}
.locationWrapFlyer .contentFlyer p {
    margin-left: 12px !important;
}
div.locationWrapFlyer a#openFlyer{
	    margin-left: 14px;
}
.storename .phone span,
.storename .store-container .address p{
	color: #000000!important;
}

.storename,
.storename .store-container .address p{
	margin: 0px;
}
.content .view_location:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    color: #000;
    margin-right: 4px!important;
}
#storeLocation .store_wrapper p, #storeLocation .store_wrapper h5, #storeLocation .store_wrapper a {
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    color: #000 !important;
}
.store_wrapper .title-prefix b{
    font-family: "Josefin Sans",sans-serif;
    text-transform: uppercase;
    color: #000 !important;
}

#storeLocation .store-hour{
    margin-top: 5px;    
}
h5.store-add {
    font-weight: normal;
}

.contentFlyer h3.title-prefix:before.contentFlyer h3.title-prefix:before {
    content: "\f041";
   
    font-size: 32px !important;
    display: inline-block;
    text-align: right;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -20px;
    padding-right: 15px;
    display: inline-block !important;
    color: #fff;
    margin-top: -27px !important;
    vertical-align: middle;
}

body div.changeLocation .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
.changeLocation .closebtn:hover{

color: #000;
}
#storeLocation .phoneIcon:before{
    text-indent: 0;
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    margin-top: 2px;    
	color: #000;
}
div.locationWrapFlyer .contentFlyer h3, div .locationWrapFlyer a#openFlyer, div.locationWrapFlyer a#openFlyer, div.locationWrapFlyer .contentFlyer p {
    color: #000 !important;
}
div.locationWrapFlyer .contentFlyer h3, div .locationWrapFlyer a#openFlyer, div.locationWrapFlyer a#openFlyer, div.locationWrapFlyer .contentFlyer p {
    color: #000 !important;
}